<a href="https://colab.research.google.com/github/andrizanchnf/PSDS-3_KelasDasar/blob/main/M2P1V3_Struktur_Data_Tuple_Andriza_N_C_2000015038.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Struktur Data Tuple

Tuple adalah jenis struktur data yang tidak dapat diubah elemennya. Umumnya Tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

Sifat-sifat Tuple

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan Tuple

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)